.head {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  max-width: 952px;
}

.control1 {
  box-sizing: border-box;
  display: grid;
  gap:12px;
  grid-template-columns: 204px repeat(4,1fr);
  grid-auto-flow: column;
  min-width: 952px;
  align-items: start;
}

.control2 {
  box-sizing: border-box;
  display: grid;
  gap:12px;
  grid-template-columns: 204px repeat(2,1fr);
  grid-auto-flow: column;
  min-width: 952px;
  align-items: start;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin-top: 60px;
  min-height: 204px;
  align-items: center;
}
