.flex {
  display: flex;
  flex-direction: row;
  gap: 78px 16px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.container{
  margin-top: 78px;
}

.head{
  gap: 80px;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.firstGrp{
  width: 630px;
  gap: 12px;
  flex-wrap: nowrap;
  align-items: flex-start;
}
